rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /highscores/{score} {
      allow read: if true;  // Anyone can read scores
      
      allow create, delete: if
        // For create:
        (request.resource.data.score is number &&
        request.resource.data.name is string &&
        request.resource.data.name.size() <= 20 &&
        request.resource.data.timestamp is timestamp) ||
        // For delete:
        true;
    }
  }
}